/1.c
/1.exe
/desktop.ini
/Dev-C++.lnk
/JspExam.zip
/MEGA PDB 공부용.sql
/Microsoft Edge.lnk
/notice_list.jsp
/Office 2016 Pro 64Bit.zip
/onepage
/Visual Studio Code.lnk
/바탕화면_학생PC.jpg
/사용자 이름 1 - Chrome.lnk